.ratingContainer {
  display: flex;
  height: 50px;
}

.active {
  width: 25px;
  height: 25px;
  margin: 0.25rem;
  background-image: url('https://cdn1.iconfinder.com/data/icons/material-core/21/star-128.png');
  background-size: cover;
}

.disabled {
  width: 25px;
  height: 25px;
  margin: 0.25rem;
  background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/star-128.png');
  background-size: cover;
}
