.container {
  display: block;
  width: 100%;
  border: 3px solid #171717;
  padding: 0.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
}

.arrow {
  width: 20px;
}

.rightArrow {
  animation: rightAnimation 0.7s ease-out forwards;
}

.downArrow {
  animation: downAnimation 0.7s ease-out forwards;
}

.content {
  opacity: 0;
  height: 0px;
}

.open {
  animation: openAnimation 0.7s ease-out forwards;
}

.closed {
  animation: closeAnimation 0.7s ease-out forwards;
}

@keyframes openAnimation {
  from {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
    height: 200px;
    padding: 0.5rem;
  }
}

@keyframes closeAnimation {
  from {
    opacity: 1;
    height: 200px;
    padding: 0.5rem;
  }
  to {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

@keyframes rightAnimation {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes downAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
